

# Gun violence data / Avance II



### INTEGRANTES
- Brayan Arturo Gonzalez Barron 1620548 
- Jose Eduardo Lince Alvarez 1745066 
- Gonzalo Adrián Cavazos Rodríguez 1742463 

### Objetivos
Objetivo Principal:
Al estudiar este conjunto de datos se pretende poder hacer deducciones con base al comportamiento de estos, en el aspecto de que lugares son más peligrosos, o propensos en los que ellas personas puedan sufrir de un atentado, además con base a sus características predecir el estatus del participante.

#### Objetivos Secundarios:
 - Situación final de los participantes, ya sea víctima, sospechoso, etc.
 - Que tanta posibilidad hay de morir en un incidente con arma de fuego
 - Determinar si el genero o la edad influyen en los incidentes


### Caracteristicas Principales
- Gran cantidad de datos
- Datos relativamente recientes
- Variedad de datos (Estatus final de participantes, edad, fecha, etc)

### Beneficios de trabajar con esta BD
Encontramos que hay una fuerte relacion con los datos relacionados, por lo que pudimos identificar algunos de los metodos de analisis que podriamos utilizar.
Tambien observamos que nuestra base de datos presenta datos continuos y discretos con los cuales se puede trabajar para sacar clasificaciones o regresiones que nos definan la relación que existe entre estos mismos

### Preguntas de interes
¿Cuáles son los estados más peligrosos o conflictivos que son más probables a tender el riesgo de un atentado?

Con base a la ubicacion de un evento y las caracteristicas de las personas
Podemos, ¿Caules son los indices de delicuencia dependiendo del
numero de personas arrestadas y ademas con el numero de victimas dadas por
su area?

¿Hay una alza o baja de violencia por ataques de arma de fuego por estado?

### MOTIVACION 
A traves de distintas tecnicas de mineria de datos, poder responder a las preguntas planteadas apoyandonos de algunos de los metodos estadisticos para la prediccion de eventos en futuro.

In [36]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv(r"gun-violence.csv")

## Preparacion

Vemos que columnas podremos encontrar en este dataset, tenemos el id para determinar numero de incidentes,
tambien fecha para saber cuando sucedieron los hechos, tenemos ubicaciones y direcciones de los eventos que
nos podrian ayudar a filtrar y crear clases de zonas, 
numero de muertos para tomar encuenta los indices de violoencia, 
edad de los participantes para tambien obtener algun indicador de edad

In [38]:
df.head(5)

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

### Conteo de datos y columnas
Podemos darnos cuenta que tenemos 239667 registros antes de realizar nuestra limpieza y alrededor de 29 columnas, no ocuparemos todas para la resolucion de las preguntas asi en la limpieza eliminaremos las que no son necesarias

In [39]:
print(df.shape)

(239677, 29)

In [40]:
df.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'address', 'n_killed',
       'n_injured', 'incident_url', 'source_url',
       'incident_url_fields_missing', 'congressional_district', 'gun_stolen',
       'gun_type', 'incident_characteristics', 'latitude',
       'location_description', 'longitude', 'n_guns_involved', 'notes',
       'participant_age', 'participant_age_group', 'participant_gender',
       'participant_name', 'participant_relationship', 'participant_status',
       'participant_type', 'sources', 'state_house_district',
       'state_senate_district'],
      dtype='object')

### Renombrando Columnas
Le daremos un nombre en español a las columnas.

Ademas, podemos describir nuestras columnas de una mejor manera

In [41]:
df=df.rename(columns={'incident_id':'id', 'date':'fecha', 'state':'estado', 'city_or_county':'condado_o_localidad', 'address': 'direccion',
                 'gun_type':'tipo_arma', 'n_injured':'num_lesionados', 'location_description':'desc_lugar',
                  'participant_age':'edad_participante', 'participant_age_group':'edad_grupo_participantes',
                      'n_guns_involved' : 'armas_involucradas',
                   'participant_gender':'genero_participante', 'participant_relationship': 'relacion_participante',
                   'participant_status':'estatus_participante','participant_type':'tipo_participante', 'n_killed':'num_muertos'})

In [42]:
df.dtypes

id                               int64
fecha                           object
estado                          object
condado_o_localidad             object
direccion                       object
num_muertos                      int64
num_lesionados                   int64
incident_url                    object
source_url                      object
incident_url_fields_missing       bool
congressional_district         float64
gun_stolen                      object
tipo_arma                       object
incident_characteristics        object
latitude                       float64
desc_lugar                      object
longitude                      float64
armas_involucradas             float64
notes                           object
edad_participante               object
edad_grupo_participantes        object
genero_participante             object
participant_name                object
relacion_participante           object
estatus_participante            object
tipo_participante               object
sources                         object
state_house_district           float64
state_senate_district          float64
dtype: object

### Identificando valores unicos
Haremos una visualizacion de los valores unicos para las columnas estado, condado_o_localidad

---

In [43]:
count_column = df.estado.unique()
print( count_column , ' | Total: ', len(count_column))

['Pennsylvania' 'California' 'Ohio' 'Colorado' 'North Carolina' 'Oklahoma'
 'New Mexico' 'Louisiana' 'Maryland' 'Tennessee' 'Missouri'
 'District of Columbia' 'Illinois' 'Delaware' 'Utah' 'Michigan' 'Georgia'
 'Indiana' 'Mississippi' 'New York' 'Florida' 'Washington'
 'South Carolina' 'Arizona' 'Kentucky' 'New Jersey' 'Virginia' 'Wisconsin'
 'Rhode Island' 'Texas' 'Alabama' 'Kansas' 'Connecticut' 'West Virginia'
 'Minnesota' 'Nevada' 'Nebraska' 'Massachusetts' 'Hawaii' 'New Hampshire'
 'Iowa' 'Alaska' 'Arkansas' 'Idaho' 'Oregon' 'Wyoming' 'Maine'
 'North Dakota' 'Montana' 'Vermont' 'South Dakota']  | Total:  51

Vemos que para la columna estado tenemos un total de 51 columnas unicas, con la cual, podriamos hacer graficas ya que no presenta una gran cantidad de datos


---

In [44]:
count_column = df.condado_o_localidad.unique()
print( count_column , ' | Total: ', len(count_column))

['Mckeesport' 'Hawthorne' 'Lorain' ... 'Montgomery Creek'
 'Chaffee (Allenville)' 'St Paul']  | Total:  12898

En este caso, para la columna condado_o_localidad tenemos demasiados registros unicos, por lo que si se quisiera una grafica con estos datos, tendriamos que aminorar la cantidad, talvez buscando por los que mas coincidencias tienen.

### Identificacion de Clases
En esta caso, vamos a realizar una busqueda por el conteo de muertos, haciendo 3 clases:
- No Muertos
- 1 Muerto
- Mas de 1 muerto

Despues, procederemos a guardalas en un csv para trabajar independientemente con ellas.

In [45]:
no_muertos = df[df['num_muertos'] == 0]
no_muertos.to_csv('no_muertos.csv', index=False)

un_muerto = df[df['num_muertos'] == 1]
un_muerto.to_csv('un_muerto.csv', index=False)

mas_de_un_muerto = df[df['num_muertos'] > 1]
mas_de_un_muerto.to_csv('mas_de_un_muerto.csv', index=False)

---

Con esto podemos inferir cuales son las zonas mas y menos peligrosas, ya que pude haber un incidente, pero no quiere decir que haya muertos. 

Lo que hicimos abajo fue, obtener un conteo del listado unico donde haya habido mas de un muerto, pudiendo identificar cuales son las zonas mas mortales, aunque no quiera decir que en estos estados no haya incidentes con 0 muertos

In [46]:
len(mas_de_un_muerto.condado_o_localidad.unique())

2329

### Datos Nulos

A continuacion, buscaremos por columna, si hay almenos algun dato nulo.
Podemos observar que las columnas fecha, estado, ciudad_o_pais, num_muertos no tienen datos en nulo, pero hay 2 campos que si vamos a ocupar, los cuales son edad_participante y estatus_participante y si contienen datos nulos.

In [47]:
df.isnull().any()

id                             False
fecha                          False
estado                         False
condado_o_localidad            False
direccion                       True
num_muertos                    False
num_lesionados                 False
incident_url                   False
source_url                      True
incident_url_fields_missing    False
congressional_district          True
gun_stolen                      True
tipo_arma                       True
incident_characteristics        True
latitude                        True
desc_lugar                      True
longitude                       True
armas_involucradas              True
notes                           True
edad_participante               True
edad_grupo_participantes        True
genero_participante             True
participant_name                True
relacion_participante           True
estatus_participante            True
tipo_participante               True
sources                         True
state_house_district            True
state_senate_district           True
dtype: bool

Hacemos una sumatoria, de las filas nulas por columnas, para determinar si es viable precindir de esas filar en caso
de que sean pocas, pero los resultados muestran cantidades muy grandes, por lo que no se pueden eliminar. 
Debido a esto, tendremos que tener cuidado cuando generemos los reportes donde se utilicen estas columnas, ademas 
de que son columnas con datos compuestos, por lo que es mas  complicado ponerle un valor por defecto(como el caso
de los int con 0, por ejemplo)

In [48]:
df[['edad_participante', 'estatus_participante']].isnull().sum()

edad_participante       92298
estatus_participante    27626
dtype: int64

Eliminamos los nulos de la columna armas involucradas, ya que posiblemente hagamos algunas busquedas con este campo

In [49]:
df.armas_involucradas = df.armas_involucradas.fillna(0)

### Eliminacion de Columnas

Eliminaremos algunas columnas que en su mayoria, son valores nulos, datos que no nos interesan, y el nombre de los participantes, manteniendo asi, el anonimato de estos.

In [50]:
df = df.drop(columns={'sources', 'incident_url', 'incident_url_fields_missing', 'source_url',
                      'congressional_district', 'gun_stolen', 'tipo_arma', 'incident_characteristics',
                      'latitude', 'desc_lugar', 'longitude', 'notes', 'direccion', 
                        'incident_url', 'edad_grupo_participantes', 'participant_name', 'relacion_participante', 'tipo_participante', 'sources', 'state_house_district', 'state_senate_district'},axis = 1 )

Y finalmente, tenemos nuestra BD preparada solo con los datos que necesitamos

In [35]:
df

,id,fecha,estado,condado_o_localidad,num_muertos,num_lesionados,armas_involucradas,edad_participante,genero_participante,estatus_participante
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,0.0,0::20,0::Male||1::Male||3::Male||4::Female,0::Arrested||1::Injured||2::Injured||3::Injure...
1,460726,2013-01-01,California,Hawthorne,1,3,0.0,0::20,0::Male,0::Killed||1::Injured||2::Injured||3::Injured
2,478855,2013-01-01,Ohio,Lorain,1,3,2.0,0::25||1::31||2::33||3::34||4::33,0::Male||1::Male||2::Male||3::Male||4::Male,"0::Injured, Unharmed, Arrested||1::Unharmed, A..."
3,478925,2013-01-05,Colorado,Aurora,4,0,0.0,0::29||1::33||2::56||3::33,0::Female||1::Male||2::Male||3::Male,0::Killed||1::Killed||2::Killed||3::Killed
4,478959,2013-01-07,North Carolina,Greensboro,2,2,2.0,0::18||1::46||2::14||3::47,0::Female||1::Male||2::Male||3::Female,0::Injured||1::Injured||2::Killed||3::Killed
...,...,...,...,...,...,...,...,...,...,...
239672,1083142,2018-03-31,Louisiana,Rayne,0,0,1.0,0::25,0::Female,"0::Unharmed, Arrested"
239673,1083139,2018-03-31,Louisiana,Natchitoches,1,0,1.0,1::21,0::Male||1::Male,"0::Killed||1::Unharmed, Arrested"
239674,1083151,2018-03-31,Louisiana,Gretna,0,1,1.0,0::21,0::Male,0::Injured
239675,1082514,2018-03-31,Texas,Houston,1,0,1.0,0::42,0::Male,0::Killed
239676,1081940,2018-03-31,Maine,Norridgewock,2,0,2.0,0::58||1::62,0::Female||1::Male,0::Killed||1::Killed